<!DOCTYPE html>
<html>

<head>
    <title>
        Slack page
    </title>
    <meta charset='utf-8' />

    <link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
    <link rel="manifest" href="/fav/site.webmanifest">
    <link rel="mask-icon" href="/fav/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    {{!--
    <link href='css/normalize.css' rel='stylesheet' /> --}}


    <link href='css/slack.css' rel='stylesheet' />

</head>

<body>


    <div class="page">
        <section class="page_section">
            <div class='page_content hero_section'>

                <div class="hero">
                    <div class="hero_content">
                        <span class="hero_label">slack features</span>
                        <h1 class="hero_title">One platform for your and your work</h1>
                        <p class="hero_info">All the features of Slack work together so you can, too.</p>
                        <div class="hero_buttons">
                            <a href="#" class="button button_primary click">Try for free</a>
                            <a href="#" class="button button_secondary click">See all features</a>
                        </div>
                        <img src="/img/hero.png" alt="hero" class="hero_image">
                    </div>
                </div>



                <div class="brands">
                    <img src="/img/brands/airbnb.png" alt="airbnb" class="brands_img">
                    <img src="/img/brands/intuit.png" alt="intuit" class="brands_img">
                    <img src="/img/brands/logo.png" alt="logo" class="brands_img">
                    <img src="/img/brands/news.png" alt="news" class="brands_img">
                    <img src="/img/brands/sonos.png" alt="sonos" class="brands_img">
                    <img src="/img/brands/target.png" alt="target" class="brands_img">
                    <img src="/img/brands/uber.png" alt="uber" class="brands_img">
                    <img src="/img/brands/us.png" alt="us" class="brands_img">
                </div>

            </div>
        </section>

        <section class="page_section page_section_light">
            <div class='page_content features_section'>
                <h2 class="features_title">Work more easily with everyone</h2>
                <p class="features_description">Stay on the same page and make decisions faster by bringing all of your
                    work communication into one place.</p>

                <div class="features_grid_4">

                    <div class="feat_card">
                        <span class="icon feat_icon" style="background-image: url('/svg/feature/connect.svg')"></span>
                        <strong class="feat_card_title">Slack Connect</strong>
                        <p class="feat_card_description">Collaborate with teams at other
                            companies the same way you do with teams at your own.</p>
                        <a href="#" class="icon icon_arrow click feat_link"></a>
                    </div>

                    <div class="feat_card">
                        <span class="icon feat_icon" style="background-image: url('/svg/feature/channels.svg')"></span>
                        <strong class="feat_card_title">Channels</strong>
                        <a href="#" class="icon icon_arrow click feat_link"></a>
                    </div>

                    <div class="feat_card">
                        <span class="icon feat_icon" style="background-image: url('/svg/feature/Huddles.svg')"></span>
                        <strong class="feat_card_title">Huddles</strong>
                        <a href="#" class="icon icon_arrow click feat_link"></a>
                    </div>

                    <div class="feat_card">
                        <span class="icon feat_icon" style="background-image: url('/svg/feature/Clips.svg')"></span>
                        <strong class="feat_card_title">Clips</strong>
                        <a href="#" class="icon icon_arrow click feat_link"></a>
                    </div>

                    <div class="feat_card">
                        <span class="icon feat_icon" style="background-image: url('/svg/feature/Canvas.svg')"></span>
                        <strong class="feat_card_title">Canvas</strong>
                        <a href="#" class="icon icon_arrow click feat_link"></a>
                    </div>

                    <div class="feat_card">
                        <span class="icon feat_icon" style="background-image: url('/svg/feature/Messaging.svg')"></span>
                        <strong class="feat_card_title">Messaging</strong>
                        <a href="#" class="icon icon_arrow click feat_link"></a>
                    </div>

                    <div class="feat_card">
                        <span class="icon feat_icon"
                            style="background-image: url('/svg/feature/Accessibility.svg')"></span>
                        <strong class="feat_card_title">Accessibility</strong>
                        <a href="#" class="icon icon_arrow click feat_link"></a>
                    </div>
                </div>


            </div>
        </section>

        <section class="page_section page_section_light">
            <div class='page_content features_section_down'>
                <div class="features_copy">
                    <h2 class="features_title_down">What you need, when you need it</h2>
                    <p class="features_description_down">Spend less time shuffling tabs with a comprehensive message
                        archive
                        and all your work tools at your fingertips..</p>
                </div>

                <div class="features_grid_3">
                    <div class="feat_card">
                        <span class="icon feat_icon" style="background-image: url('/svg/feature/apps.svg')"></span>
                        <strong class="feat_card_title">Apps and Integrations</strong>
                        <p class="feat_card_description">Streamline work by connecting Slack with other services like
                            Google Drive, Office 365 and over 2,200 more.</p>
                        <a href="#" class="icon icon_arrow click feat_link"></a>
                    </div>

                    <div class="feat_card">
                        <span class="icon feat_icon" style="background-image: url('/svg/feature/workflow.svg')"></span>
                        <strong class="feat_card_title">Workflow Builder</strong>
                        <p class="feat_card_description">Automate routine actions and communication, so you can get back
                            to the kind of work only humans can do.</p>
                        <a href="#" class="icon icon_arrow click feat_link"></a>
                    </div>

                    <div class="last_card">
                        <div class="feat_card">
                            <span class="icon feat_icon"
                                style="background-image: url('/svg/feature/search.svg')"></span>
                            <strong class="feat_card_title">Search</strong>
                            <a href="#" class="icon icon_arrow click feat_link"></a>
                        </div>

                        <div class="feat_card">
                            <span class="icon feat_icon"
                                style="background-image: url('/svg/feature/fileshar.svg')"></span>
                            <strong class="feat_card_title">File sharing</strong>
                            <a href="#" class="icon icon_arrow click feat_link"></a>
                        </div>
                    </div>

                </div>

            </div>
        </section>

        <div class="deliveroo">
            <img src="/img/deliveroo.png" alt="deliveroo" class="deliveroo_img">
            <div class="deliveroo_info">
                <div class="deliveroo_description">“The thing that keeps us connected
                    the most is Slack. It’s a very
                    immediate and straightforward
                    method of communication, and
                    really the only channel that people
                    prefer and enjoy using.”

                </div>
                <img src="/img/deliveroo_logo.png" alt="deliveroo_logo" class="deliveroo_logo_img">
                <p class="deliveroo_text">Will Sprunt, CIO, Deliveroo</p>
            </div>
        </div>

        <div class="card_explore">
            <h2 class="card_explore_title">Explore more about working in Slack</h2>

            <div class="items_card_explore">

                <div class="card_items">
                    <img src="/img/explore/slack.png" alt="slack" class="card_items_img">
                    <p class="card_items_name">Slack Tutorials</p>
                    <p class="card_items_text">Slack 101</p>

                    <div class="card_items_down">
                        <p class="card_items_down_text">Learn more</p>
                        <img src="/svg/next.svg" alt="next" class="card_items_down_img click">
                    </div>
                </div>


                <div class="card_items">
                    <img src="/img/explore/slack_email.png" alt="slack_email" class="card_items_img">
                    <p class="card_items_name">Slack vs. Email</p>
                    <p class="card_items_text">An easier, more organized way to work</p>

                    <div class="card_items_down">
                        <p class="card_items_down_text">Learn more</p>
                        <img src="/svg/next.svg" alt="next" class="card_items_down_img click">
                    </div>
                </div>


                <div class="card_items">
                    <img src="/img/explore/fastly.png" alt="fastly" class="card_items_img">
                    <p class="card_items_name">Customer Stories</p>
                    <p class="card_items_text">How Fastly uses Slack Connect to wow enterprise customers</p>

                    <div class="card_items_down">
                        <p class="card_items_down_text">Learn more</p>
                        <img src="/svg/next.svg" alt="next" class="card_items_down_img click">
                    </div>
                </div>

            </div>
        </div>
    </div>


</body>

</html>