{{#with data}}
<div class="articles_item">
    <img src="{{photo}}" alt="" class="articles_img">
    {{#if isNew}}<p class="articles_new">new</p>{{/if}}
    <h4 class="articles_name_item">{{name}}</h4>
    <p class="articles_description">{{description}}</p>
    <div class="art_des_btn">
        <button class="articles_button_item">Read All</button>
    </div>
</div>
{{/with}}